<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add name="SqlConnection"
         connectionString="Data Source=BLANCA_CONTRERA\SQLEXPRESS;Initial Catalog=SeguridadInformatica_02;TrustServerCertificate=true;Integrated Security=True"
       />
  </connectionStrings>
  
</configuration>